@import url(../Parciales/_media-queries.scss);
body {
  background-image: url(../imagen/fondo.rolling.png);
  background-position: center;
  background-size: cover cover;
  height: 100%;
  width: 100%;
}

.header__cont .header__h1 {
  color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 10px;
  font-size: 40px;
  text-shadow: 5px 5px 6px red, 5px 5px 10px wheat, 5px 0px 0px #a74646;
}

.header__cont .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cont .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cont .header__nav--info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blanchedalmond;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 40px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 5px;
}

.header__cont .header__nav--info:hover {
  color: red;
  font-size: 25px;
  font-stretch: condensed black;
}

.header__cont .header__nav--dropdown {
  font-size: 10px;
  letter-spacing: 2px;
  color: blanchedalmond;
  border: 5px solid beige !important;
  border-radius: 5px;
  font-family: 'Rock Salt', cursive;
  margin: 5px !important;
  font-weight: bold;
}

.header__cont .header__nav--dropdown:hover {
  background-color: red;
}

.header__cont .header__nav--background {
  background-image: url(../imagen/Guitarra.jpg);
  background-position: center center;
  background-size: cover;
}

form {
  color: wheat;
  font-family: 'Open Sans', sans-serif;
  border: solid 5px white;
  width: 70%;
}

fieldset {
  border: solid 3px #6d5656;
  width: 95%;
  height: 100%;
}

textarea {
  color: wheat;
  background: transparent;
  border: groove 5px #6d5656;
  width: 90%;
  height: 100%;
  background-color: blanchedalmond;
}

p {
  color: blanchedalmond;
  font-size: 40px;
  text-shadow: 5px 5px 6px red, 5px 5px 10px wheat, 5px 0px 0px #a74646;
  letter-spacing: 5px;
  font-weight: bold;
}

.footer {
  margin-top: 50px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav--anc {
  color: blanchedalmond;
  margin: 0px 10px;
  font-size: 30px;
}

.footer__nav--anc:hover {
  color: brown;
  font-size: 35px;
}

.footer .footer__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: blanchedalmond;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .header__h1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    margin-left: 5px;
  }
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    width: 100%;
  }
  .header__nav--info {
    font-size: 1px;
  }
}
/*# sourceMappingURL=style.css.map */