@import "./Parciales/album";
$text-rock:'Rock Salt', cursive;
$text-form:'Open Sans', sans-serif ;

body{
    background: rgb(19, 17, 17);
}
.div__logo{
    display: flex;
    justify-content: end;
    align-items: center;
    &--img{
        height: 100px;
    }
}


.info{ 
    height: 250px;
    
    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nav--btn{
        font-family: $text-rock;
        margin: 0px 2rem;
        text-decoration: none;
        color: blanchedalmond;
        font-weight: bold;
        font-size: 15px;
        transition: all 0.3s;
    }
    &__nav--btn:hover{
        color: brown;
        font-size: 22px;
        font-stretch: condensed black;
    }
    &__nav--dropdown{
        font-size: 10px;
        letter-spacing: 2px;
        color: blanchedalmond;
        border: 5px solid beige!important;
        border-radius: 5px;
        font-family: 'Rock Salt', cursive;
        margin: 5px!important;
        font-weight: bold;
    }
    &__nav--background{
        background-image: url(./imagen/Guitarra.jpg);
        background-position: center center;
        background-size: cover;
    }
}

.titulo{
    &__texto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: whitesmoke;
        text-shadow: 5px 5px 6px red, 5px 5px 10px wheat, 5px 0px 0px rgb(167, 70, 70);
        font-family: 'Rock Salt', cursive;
        font-size: 40px;
        transition-delay: 3s;
    }
    video{
        display: flex;
        justify-items: center !important;
        align-content: center;
        width: 100%;
        height: 65vh;
        box-shadow: 0px 0px 10px 0px black, 20px 0px 20px 20px blanchedalmond;
        }
}
.imagen__cuadro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./imagen/Rolling-PhotoRoom.png);
    background-position: center center;
    .h2{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: blanchedalmond;
        text-shadow: 5px 5px 6px red, 5px 5px 10px wheat, 5px 0px 0px rgb(167, 70, 70);

    }
    &--div{
        border: solid 5px blanchedalmond;
        margin: 10px 0px;
        border-radius: 6px;
        background-color: blanchedalmond;
        box-shadow: 0px 5px 5px 5px brown;
    }
    &--fcap{
        color: black;
        height: 30px;
        text-align: center;
        font-family: 'Rock Salt', cursive;
        margin-top: 10px;
        letter-spacing: 3px;
        transition: all 0.3s;
    }
    .imagen__ancor{
        text-decoration: none;
    }
    &--fcap:hover{
        color: blanchedalmond;
        font-size: 15px;
        background-color: brown;
        border-radius: 10px;
    }
}
.main__desc{
    background-image:url(./imagen/Se-Pico.jpg);
    border-radius: 10px;
    box-shadow: 20px 20px 20px 20px black, 20px 0px 20px 20px blanchedalmond;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    &--p{
        height: 45%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: blanchedalmond;
        font-family: 'Open Sans', sans-serif ;
        text-shadow: 5px 5px 6px red, 5px 5px 10px wheat, 5px 0px 0px rgb(167, 70, 70);
        letter-spacing: 5px;
        font-size: 30px;
    }
    &--contimg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 55%;
    }
    &--img{
        width: 100%;
        height: 100%;
        margin: 10px;
    }
}
.titulo__bandas{
    text-align: center;
    margin-top: 4cm;
    color: black;
    text-shadow: 5px 5px 6px red, 5px 5px 10px wheat, 5px 0px 0px rgb(167, 70, 70);
    font-family: 'Rock Salt', cursive;  

}
.footer{
    margin-top: 30px;

    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nav--anc{
        color: blanchedalmond;
        margin: 0px 10px;
        font-size: 30px;
    }
    &__nav--anc:hover{
        color: black;
        font-size: 35px;
    }
    .footer__span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: blanchedalmond;
        padding: 10px;
    }
}
.scroll{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: brown;
    font-size: 20px;
    transition: all 0.3s;
}
.scroll:hover{
    color: burlywood;
    font-size: 25px;

}
hr{
    color: burlywood;

}
.album__article{
    width: 100%;
    .album__p{
        display: flex;
        text-align: center;
        justify-items: center;
        width: 100%;
        color: rgb(206, 40, 40);
    }
}










@media screen and(max-width: 1180px) {
     .main__desc--p{
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0px;
    }
}
@media screen and(max-width: 768px) {
    .main__desc--p{
        color:white;
        font-size: 16px;
        letter-spacing: 0px;
        height: 35%;
    }
    .info__nav--btn{
        font-size: 17px;
    }
    .main__desc--contimg{
        width: 100%;

    }
    .titulo__texto{
        font-size: 30px;
    }
}
@media screen and(max-width: 375px){
    .main__desc--p{
        font-size: 10px;
        letter-spacing: 3px;
    }
    .titulo__texto{
        font-size: 30px;
    }
}